<h1>ユーザー 作成</h1>
<%= form_with model: @user, local: true do |f| %>
  氏名 <%= f.text_field :name %><br>
  年齢 <%= f.text_field :age %><br>
  <%= f.submit "送信" %>
<% end %>
<%= link_to "一覧画面へ", users_path %>
